/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   position: relative;
   height: 100%;
   width:100%;
   font-size: 100%;
   margin: 0px;
   padding: 0px;
 }
 body {
   margin: 0px;
   padding: 0px;
 }
 header{
   background-color: cornflowerblue;
   height: 150px;
   position: relative;
 }
 header h1{
   color:white;
   margin: 0px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }
 footer{
   background-color: cornflowerblue;
   position: relative;
   height: 100px;
   bottom: -500px;
 }
 footer p{
   margin: auto;
   color:white;
   font-size: 0.8rem;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
 }
.content_block{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: cornflowerblue;

}
